<div class="object">
  <div class="title"><%= o.class.name %></div>

  <div>
    [<%= o.timestamp %>] <%= o.speaker&.name %>
  </div>

  <div>
    <%= render_object o.text %>
  </div>

  <table class="codes">
    <% o.segments.each do |segment| %>
      <tr>
        <td><%= render_precise_timestamp segment.timestamp %></td>
        <td><code><%= segment.text %></code></td>
      </tr>
    <% end %>
  </table>

</div>
