<div id="content"
  data-access-key="<%= @access_key %>"
  data-chapters="<%= @prepared_episode.audio_chapters.to_json %>"
  data-mode="word"
>
  <div id="content-inner">
    <%= render 'v2/top_message' %>
    <%= render 'v2/episode_header' %>

    <section id="pre-play">
      <% if current_podcast.translations_enabled? %>
        <%= render 'v2/language_picker' %>
      <% end %>
    </section>

    <%= @prepared_episode.notes_html.sub(%r{<p><br></p>\n\Z}, '').html_safe %>

    <% if current_podcast.code == 'easygerman' # TODO %>
      <h2>Transkript</h2>
    <% end %>

    <% @prepared_episode.chapters.each do |chapter| %>
      <%= render 'v2/chapter', chapter: chapter %>
    <% end %>

    <% if current_podcast == 'easygerman' %>
      <%= render 'v2/feedback' %>
    <% end %>
  </div>
</div>
