<div id="content"
  data-access-key="<%= @access_key %>"
  data-chapters="<%= @prepared_episode.audio_chapters.to_json %>"
  data-mode="word"
>
  <div id="content-inner">
    <div class="ui message" id="top-message">
      <div class="header">
        Willkommen zur neuen Version!
      </div>

      <%= bilingual_paragraphs 'beta.info' %>

      <div class="button-container">
        <a class="ui labeled icon button" href="<%= episode_path(@access_key) %>">
          <i class="left chevron icon"></i>
          <%= t('beta.back_to_old_version_button') %>
        </a>
        <a class="ui right labeled icon button" href="https://docs.google.com/forms/d/e/1FAIpQLSemlKJpVrhlIQA8M-Yc8WMBtxHISVQJYTq1zH8wZrm47l3p3A/viewform?usp=sf_link" target="_blank">
          <%= t('beta.feedback_button') %>
          <i class="right chevron icon"></i>
        </a>
      </div>
    </div>

    <header>
      <h1><%= @title %></h1>
      <p><%= @podcast.name %></p>
      <% if @podcast.homepage_url.present? %>
        <a target="_blank" href="<%= @podcast.homepage_url %>"><%= @podcast.homepage_url_display %></a>
      <% end %>
    </header>

    <section id="pre-play">
      <form id="language-picker-form">
        <%= label(:language, "#{t('translation.translation_language_label')}") %>
        &nbsp;
        <%=
          select_tag(
            :language,
            options_for_select(
              Translator::TARGET_LANGUAGES.map { |code, description| [description, code] },
            ),
            id: "language-picker",
          )
        %>
        <p><%= t('translation.deepl_notice') %></p>
      </form>
    </section>

    <%= @prepared_episode.notes_html.sub(%r{<p><br></p>\n\Z}, '').html_safe %>

    <h2>Transkript</h2>

    <% @prepared_episode.chapters.each do |chapter| %>
      <div class="chapter">

        <% if chapter.title.present? %>
          <h3><%= chapter.title %></h3>
        <% end %>

        <% chapter.paragraphs.each do |paragraph| %>
          <%= render 'paragraph_v2', paragraph: paragraph %>
        <% end %>

      </div><!-- /chapter -->
    <% end %>

    <div id="feedback">
      <div class="ui compact message">
        <%= bilingual_paragraphs 'beta.feedback_request' %>

        <div id="feedback-thumbs-container" class="button-container">
          <button id="feedback-good" class="ui huge icon button"><i class="thumbs up icon"></i></button>
          <button id="feedback-bad" class="ui huge icon button"><i class="thumbs down icon"></i></button>
        </div>

        <div class="button-container">
          <a class="ui right labeled icon button" href="https://docs.google.com/forms/d/e/1FAIpQLSemlKJpVrhlIQA8M-Yc8WMBtxHISVQJYTq1zH8wZrm47l3p3A/viewform?usp=sf_link" target="_blank">
            <%= t('beta.feedback_button') %>
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
