<% @title = "404 Not Found" %>
<div class="error-page">
  <%= bilingual do |locale| %>
    <h1><%= t('errors.episode_not_found.title') %></h1>
    <p><%= t('errors.episode_not_found.description') %></p>
    <p><%= t('errors.episode_not_found.info_new') %></p>
    <p><%= linkify_substring t('errors.episode_not_found.info_all_episodes'), t('errors.episode_not_found.link'), 'https://www.patreon.com/easygerman/posts?filters[media_types]=audio' %></p>
  <% end %>
</div>
