<div id="player-page">
  <div id="control">
    <div id="buttons">
      <button id="vocab-button">Vocab</button>
    </div>
    <figure>
      <audio controls src="<%= @episode.audio_url %>">
        Your browser does not support the <code>audio</code> element.
      </audio>
    </figure>
  </div>

  <div id="rest">
    <div id="vocab-helper" class="unpreferred" ><img id="vocab-helper-img" src="<%= @feed.cover_url %>" /></div>

    <div id="content"
      data-access-key="<%= @episode.access_key %>"
      data-chapters="<%= @chapters_data.to_json %>"
      data-mode="<%= @mode %>"
    >
      <header>
        <h1><%= @title %></h1>
        <p>The Easy German Podcast</p>
        <a target="_blank" href="http://www.easygerman.fm">www.easygerman.fm</a>
      </header>

      <% if @mode == :word %>
        <%= @episode.transcript_editor_html %>
      <% else %>
        <%= @episode.processed_html %>
      <% end %>
    </div>
  </div>
</div>
