<style>
:root {
  --podcast-primary-color: <%= current_podcast.settings.dig("theme", "primary_color") || "#FFA12C" %>;
  --podcast-translation-color: <%= current_podcast.settings.dig("theme", "translation_color") || "#295266" %>;
}
</style>
<div id="player-page" class="version1">
  <div id="control">
    <div id="buttons">
      <button id="vocab-button">Vocab</button>
    </div>
    <figure>
      <audio controls src="<%= @prepared_episode.audio_url %>">
        Your browser does not support the <code>audio</code> element.
      </audio>
    </figure>
  </div>

  <div id="rest">
    <div id="vocab-helper"><img id="vocab-helper-img" src="<%= @prepared_episode.cover_url %>" /></div>
    <%= render 'content' %>
  </div>
</div>
