<style>
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  #loading-container { margin-top: 100px; text-align: center }
  #loading { display: inline-block; width: 20px; height: 20px; border: solid 2px gray; border-right-color: transparent; border-radius: 50%; animation: spin 1s linear infinite }
  #loading-container p { margin: 2em }
</style>
<script>
  // If javascript is enabled, hide the content before everthing is loaded,
  // to prevent the content from jumping around.
  document.write('<style>#player-page { visibility: hidden }</style>')
  document.write('<div id="loading-container"><div id="loading"></div><p><a href="<%= episode_path(@access_key) %>/v1">Go to the old version</a></p></div>');
  window.translations = <%=
    JSON.generate(collect_translations(
      translation: %i[loading_status failed_status],
      thanks: [],
    )).html_safe
  %>
  window.transcriptPlayer = <%= JSON.generate(
    vocabHelper: {
      available: current_podcast.vocab_helper_enabled?,
    }
  ).html_safe %>
</script>

<%= render 'info_modal' %>

<div id="player-page" class="version2">
  <div id="vocab-helper"><img id="vocab-helper-img" class="is-cover" src="<%= @prepared_episode.cover_url %>" /></div>

  <%= render 'v2/content' %>
  <%= render 'v2/player_controls' %>
</div>
