<h1>Episode: <%= @episode.title %></h1>

<%= link_to "Go to Player", episode_path(@episode.access_key) %>

<p>
  <% if @episode.transcript_editor_html.present? %>
    <%= link_to "Transcript with timestamps", timed_script_admin_episode_path(@episode.slug) %>
  <% else %>
    Transcript with timestamps not found.
  <% end %>
</p>

<%= rescue_and_show_errors do %>
  <% @episode.chapters.each do |chapter| %>
    <%= render 'admin/chapters/summary', chapter: chapter, episode: @episode %>
  <% end %>
<% end %>

<div>
  <%= Time.zone.parse(@episode.node.css('pubDate').text) %>
  <% url = @episode.description.html_node.at_css('a:contains("HTML")').attr('href') %>
  <%= URI.open(url).read.html_safe %>
</div>
