<!DOCTYPE html>
<html>
  <head>
    <title><%= [@title, @site_title || "Transcript Player"].compact.join(' - ') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <% if not @public %><meta name="robots" content="noindex"><% end %>

    <%= render 'shared/rollbar_snippet' %>

    <style>
      .button-row { display: flex; flex-direction: row; }
    </style>
  </head>

  <body class="player">
    <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
    <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

    <%= yield %>

    <%= stylesheet_link_tag 'v2', media: 'all' %>
    <%= javascript_pack_tag 'v2' %>

    <link rel="stylesheet" href="/semanticui/semantic.min.css">
  </body>
</html>
